<% include header %>
   
<table class="table table-hover">
    <thead>
        <tr><th>Id</th>
            <th>Name</th>
            <th>Score</th>
        </tr>
    </thead>

    <tbody>
        <% entries.forEach(function(entry) { %>
        <tr>
            <td>
                <a href="displayleads/<%= entry.name %>">
                <%= entry.name %></a>
            </td>
            <td>
                <%= entry.score %>
            </td>
            <td>
                <%= entry.creator %>
            </td>

        </tr>
        <% }) %>
    </tbody>

    <% include footer %>