<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(255, 145, 0, 0.973);
        color: white;
        text-align: center;
    }
    
</style>
</head>

<body style = "background-color:rgb(169, 195, 218);">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Leaderboard</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/newleads">New</a>
            </li>
         </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/logout">
                        <span class="glyphicon glyphicon-user"></span>Sign out</a>
                </li>
            </ul>
        
    </div>
</nav>
    
