<% include header %>
<form method="POST" role="form">
    <div class="form-group">
        <label for="name">Name</label>
        <input type = "text" id = "uname" name = "uname">
        <label for="score">Score</label>    
        <input type = "number" id= "score" name = "score">
            <input type = "submit" value = "post" class="btn btn-info">
    </div>
</form>




<% include footer %>